body{
    background-color: rgb(188, 175, 98);
}

#span1{
    color: rgb(135, 9, 30);
    text-align: center;
}

#span2{
    color: rgb(87, 64, 21);
    text-align: center;
}

#table1{
    background: rgb(228, 183, 228);
}

#table2{
    background: rgb(226, 126, 226);
}

